:root {
    --color-one: #800020;
    --color-two: #fb9300;
    --color-three: #800020;
    --color-four: #b4e5dd;
}

* {
    margin: 0;
    padding: 0;

}

body {
    background-color: var(--color-one);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: var(--color-four)
}

.hero {
    width: 100%;
    height: 80vh;
    background-image: url('../images/beehive-cyan-orange-hexagon-drop-shadow-1920x1080-c2-b4e5dd-fb9300-l4-158-1773-443-159-a2-25-120-f-7.svg');
    background-size: cover;
    background-position: 20%;
}

.hero-title {
    padding-top: 13%;
    padding-left: 220px;
    font-size: 70px;
}

.hero p {
    padding-left: 220px;
    font-size: 20px;
}

.name {
    text-align: center;
    padding: 12px;
    margin: 20px 40%;
    color: var(--color-one);
    background-color: var(--color-four);
    border-radius: 10px;
}

nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    list-style: none;
    font-size: 30px;
}

nav ul li {
    border-radius: 10px;
    margin-bottom: 20px;
}

nav ul li a {
    text-decoration: none;
    color: var(--color-two);
    text-shadow: none;
    border-bottom: 3px solid var(--color-four);
    border-top: 3px solid var(--color-four);
    border-radius: 10px;
    text-shadow: 2px 2px rgba(0, 0, 0, 0.5);
}

nav ul li a:hover {
    font-size: larger;
}

.bio {
    margin-bottom: 5%;
}

.bio-title {
    padding-left: 30px;
    padding-top: 10px;
    margin-left: 40px;
    margin-right: 50%;
    border-top: 3px solid var(--color-two);
    border-left: 3px solid var(--color-two);
}

.bio h2 {
    font-size: 40px;
    color: var(--color-four);
}

.bio p {
    text-align: center;
    font-size: 20px;
    margin: 5px 30%;
    color: var(--color-seven);
}

.border {
    border-bottom: 3px solid var(--color-two);
    border-right: 3px solid var(--color-two);
    margin: 40px;
    margin-left: 50%;
}

.projects {
    background-color: var(--color-four);
    color: var(--color-one);
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    font-size: 30px;
}

.first-project img {
    width: 70%;
}

.first-project {
    text-align: center;
}

.project-title {
    padding: 2%;
}

footer {
    background-color: var(--color-two);
}