:root {
    --color-one: #000000;
    --color-two: #fed700;
    --color-three: white;
    --color-four: white;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

body {
    background-color: var(--color-one);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: var(--color-four);
}

/* hero */

.hero {
    width: 100%;
    height: 85vh;
    background-image: url('../images/yellow-aesthetic-wallpaper-20072002223649.jpg');
    background-position: bottom;
    color: var(--color-one);
}

.hero-title {
    padding-top: 13%;
    padding-left: 220px;
    font-style: italic;
    font-size: 70px;
    text-shadow: 2px 2px rgba(0, 0, 0, 0.2);
}

.hero p {
    padding-left: 220px;
    font-size: 20px;
}

.name {
    background-color: var(--color-one);
    padding: 2%;
    width: 100%;
}

.name h2 {
    text-align: center;
    padding: 12px;
    margin: 0 42%;
    color: var(--color-one);
    background-color: var(--color-four);
    border-radius: 10px;
}

/* navigation */

nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    list-style: none;
    font-size: 30px;
}

nav ul li {
    border-radius: 10px;
    margin-bottom: 20px;
    margin-top: 10px;
}

nav ul li a {
    text-decoration: none;
    color: var(--color-two);
    text-shadow: none;
    border-bottom: 3px solid var(--color-three);
    border-top: 3px solid var(--color-three);
    border-radius: 10px;
    text-shadow: 2px 2px rgba(255, 255, 255, 0.2);
}

nav ul li a:hover {
    font-size: larger;
}

/* about me */

.bio {
    margin-bottom: 10%;
    margin-top: 10%;
}

.bio-title {
    padding-left: 30px;
    padding-top: 10px;
    margin-left: 40px;
    margin-right: 50%;
    border-top: 3px solid var(--color-two);
    border-left: 3px solid var(--color-two);
}

.bio h2 {
    font-size: 40px;
    color: var(--color-four);
}

.bio p {
    text-align: center;
    font-size: 20px;
    margin: 5px 30%;
    color: var(--color-seven);
}

.border {
    border-bottom: 3px solid var(--color-two);
    border-right: 3px solid var(--color-two);
    margin: 40px;
    margin-left: 50%;
}

/* my work */

.projects {
    /*background-color: var(--color-four);*/
    color: var(--color-two);
    text-align: center;
    justify-content: space-evenly;
    align-items: center;
    font-size: 30px;
}

.project-title {
    padding: 2%;
    width: 100%;
}


.first-project img {
    width: 20%;
    height: 100%;
}

.first-project {
    text-align: center;
}

.project-types {
    display: flex;
}

.projects img {
    width: 100%;
}

/* footer */

#lets-talk {
    text-align: center;
    color: var(--color-one);
    font-size: 100px;
    margin-bottom: 2%;
}

footer {
    background-color: var(--color-two);
}

footer div {
    display: flex;
    text-align: center;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

footer img {
    height: 90px;
    width: 90px;
    flex: 1 30%;
}

.top {
    display: block;
    margin-left: 50%;
    margin-top: 3%;
}